.FoodItems{
    width: 100%;
    height: 100%;

    background-image: url("../../assets/images/Pages/pictures.jpeg")!important;


}
/*.FoodItems::after{*/
/*    background-image: url("../../assets/images/Pages/pictures.jpeg")!important;*/
/*    opacity: 0.2;*/
/*}*/
.foodie{
    margin-left: 500px;
    width:413px;
}
.image-area>img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width:400px ;
    height: 400px;
}
.title{
    text-align: center;
    font-size: 60px;

}
.description-area{
    text-align: justify;
    cursor:default;
}
